<div class="universe">
    <h1>Challenge Frontend - Activar</h1>
    <h1>Loading characters...</h1>
  <div class="tattoine">
  
  <div class="bb-8">
    <div class="head">
        <div class="eye"></div>
      </div>
    <div class="ball">
      <div class="connect one"></div>
      <div class="connect two"></div>
      <div class="connect three"></div>
      <div class="ball__inner one">
        <div class="inside"></div>
      </div>
      <div class="ball__inner two">
        <div class="inside"></div>
      </div>
      <div class="ball__inner three">
        <div class="inside"></div>
      </div>
    </div>
    </div>
  <div class="bb-8--shadow">
    </div>
    <div class="bb-8--shadow--2">
    </div>
  <div class="land">
  </div>
  </div>
  </div>