@keyframes ball {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes head {
  0% {
    margin: -55px 45px 10px 15px;
  }
  50% {
    margin: -65px 45px 10px 20px;
  }
}
.universe {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
h1 {
  margin: 15px auto;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 34px;
  color: white;
}
.tattoine {
  margin: auto;
}
.bb-8--shadow {
  width: 170px;
  height: 30px;
  background: rgba(0, 0, 0, 0.75);
  position: absolute;
  border-radius: 50%;
  margin-top: -25px;
  margin-left: 30px;
}
.bb-8--shadow--2 {
  width: 150px;
  height: 30px;
  background: rgba(0, 0, 0, 0.45);
  position: absolute;
  border-radius: 50%;
  margin-top: -55px;
  margin-left: 30px;
  transform: rotate(-20deg);
}
.head {
  width: 75px;
  height: 35.5px;
  border-radius: 50px 50px 0 0;
  position: absolute;
  margin: -55px 45px 10px 20px;
  transform: rotate(-30deg) translatex(-50px) translatey(5px);
  border: 5px solid #1c3c4f;
  background: #fff;
  z-index: 99999;
  animation-name: head;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 0.3s;
  & .eye {
    background: #2b8aa9;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 5px solid #1c3c4f;
    position: relative;
    margin: 5px auto;
  }
}
.ball {
  background: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #1c3c4f;
  z-index: 9999;
  position: relative;
  overflow: hidden;
  transition: 3s;
  animation-name: ball;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  .connect {
    position: absolute;
    height: 5px;
    width: 100px;
    background: #1c3c4f;
    &.one {
      margin-top: 25px;
    }
    &.two {
      margin-top: 65px;
      transform: rotate(65deg);
      margin-left: -30px;
    }
    &.three {
      margin-top: 65px;
      margin-left: 30px;
      transform: rotate(-45deg);
    }
  }
  &__inner {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: #fdc23e;
    position: absolute;
    display: flex;
    border: 5px solid #1c3c4f;
    & .inside {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 5px solid #1c3c4f;
      margin: auto;
      background: #a7d0e0;
    }
    &.one {
      margin-top: 70px;
    }
    &.two {
      margin-left: 50px;
    }
    &.three {
      margin-left: -35px;
      margin-top: -10px;
    }
  }
}
